name: "Update Configuration and Build"

on:
  workflow_dispatch:
  push:

jobs:
  update-manifest:
    name: "Update Configuration & Build"
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      - name: Update Manifest and Commit Changes
        uses: ubiquity-os/action-deploy-plugin@main
        with:
          treatAsEsm: false
          sourcemap: false
          pluginEntry: ${{ github.workspace }}/src/main.ts
        env:
          APP_ID: ${{ secrets.APP_ID }}
          APP_PRIVATE_KEY: ${{ secrets.APP_PRIVATE_KEY }}
